---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// import bootstrap
@import "bootstrap";

$primary: #c0dfd9;
$secondary: white;
$tertiary: #b3c2bf;
$dark: #3b3a36;

.portfolio_photo {
  width: 200px;
}


a {
  color: $dark;
}

.excerpt {
  color: tertiary;
}

.container {
  width: 95%;
  max-width: 920px;
}

body {
  margin: 30px 0 70px 0;
  background-color: $secondary;
}


.full_page {
  height: 80vh;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-logo {
  width: 350px;
}

.nav {
  width: 50%;
  margin: 0 auto;
  min-width: 320px;
}

.nav a {
  color: $secondary;
  font-size: 1.2em;
}

.accent, .accent a {
  color: $dark;
  font-size: 1.2em;
}

.nav a:hover {
  color: $dark;
  font-size: 1.2em;
}

.center {
  text-align: center;
  float: none;
}

.navbar {
  background-color: $dark;
}

.accent {
  color: $dark;
  font-size: 1.2em;
}

.contact_border {
  border: solid 6px $tertiary;
  width: 50%;
  min-width: 320px;
  min-height: 40vh;
}

.active {
  background-color: $secondary;
  a {
    color: $dark;
  }

}

.post-meta {
  font-size: 1em;
  font-weight: bold;
}

navbar, navbar-default, navbar-fixed-bottom {
  border: 0px;
  padding: none;
}

.thumbnail {
  border: solid 6px $tertiary;
}

.border-left {
  text-align: left;
  border-left: solid 3px $tertiary;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.carousel {
  border: 0;
  box-shadow: 0 !important;
}

.portfolio_photo {
  max-height: 400px;
}

.item {
  height: 90vh;
  border: 2px 2px;
}

.portfolio_container {
  height: 90vh;
}