---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// import bootstrap
@import "bootstrap";

$primary: #c0dfd9;
$secondary: white;
$tertiary: #b3c2bf;
$dark: #3b3a36;

.portfolio_photo {
  width: 200px;
}


a {
  color: $dark;
}

.excerpt {
  color: tertiary;
}

.container {
  width: 95%;
  max-width: 920px;
}

body {
  margin: 30px 0 90px 0;
  background-color: $secondary;
}


.full_page {
  height: 80vh;
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-logo {
  width: 100%;
  max-width: 350px;
}

.nav {
  width: 50%;
  margin: 0 auto;
  min-width: 320px;
}

.nav a {
  color: $secondary;
  font-size: 1.2em;
}

.accent, .accent a {
  color: $dark;
  font-size: 1em;
}

.nav a:hover {
  color: $dark;
  font-size: 1.2em;
}

.center {
  text-align: center;
  float: none;
}

.navbar {
  background-color: $dark;
}

.contact_border {
  border: solid 6px $tertiary;
  width: 50%;
  min-width: 320px;
  min-height: 40vh;
}

.active {
  background-color: $secondary;
  a {
    color: $dark;
  }

}

.post-meta {
  font-size: 1em;
  font-weight: bold;
}

navbar, navbar-default, navbar-fixed-bottom {
  border: 0px;
  padding: none;
}

.thumbnail {
  border: solid 6px $tertiary;
}

.border-left {
  text-align: left;
  border-left: solid 3px $tertiary;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.carousel {
  border: 0;
  box-shadow: 0 !important;
}

.portfolio_photo {
max-height: 70vh;
max-width: 100%;
width: auto;
height: auto;
}


.portfolio_container {
  height: 80vh;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
  color: $tertiary;
}

.darkscreen {
  position: absolute;
  bottom: 0;
  height: 80vh;
  background-color: rgba(0,0,0,.8);
  width: 100%;
}

.portfolio_description {
  color: white;
  width: 70%;
  min-width: 300px;
  padding: 10px;
}

.portfolio_tab {
  position: fixed;
  top: 0;
  height: 5vh;
  line-height: 5vh;
  background-color: $tertiary;
  width: 30%;
  min-width: 150px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  text-align: center;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow:    0px 3px 5px 0px rgba(0,0,0,0.75);
  box-shadow:         0px 3px 5px 0px rgba(0,0,0,0.75);
  z-index: 2;
}

ul{
  padding-left: 0px;
  list-style-type: none;
}

li {
  padding-bottom: 5px;
}

hr {
  margin: 0px 0 0px 0;
}
