---
layout: default
---

<div class="container">
    <h2>Recent posts</h2>
    <!-- <h4>Sort By: </h4> -->
  <div class="border-left col-sm-9">

    <br>
    {% for post in site.posts %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      </a>
      <div>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h4>{{ post.title }}</h4>
        </a>
        <span class="excerpt">{{ post.excerpt }}</span>
      </div>
      <hr>
    {% endfor %}
  </div>



<!--   <ul class="posts">
{% for post in site.posts %}
    {% if post.categories contains 'technology' %}
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      </a>
      <div>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <h4>{{ post.title }}</h4>
        </a>
        <span class="excerpt">{{ post.excerpt }}</span>
      </div>
      <hr>
    {% endif %}
{% endfor %}
</ul> -->

<!--   <div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div> -->
</div>


