* {
  margin: 0px;
}

header {
  width = 100%
  height = 3em;
  line-height: 3em;
  text-align: center;
  background-color: gray;
  left: 0;
  top: 0;
  color: white;
}

table {
  display: inline;
}

table tr td {
  padding: 10px;
  border: gray 1px solid;
}

form {
  display: inline-block;
}

#add {
  display: inline-block;
}

#refresh {
  display: inline-block;
  clear: both;
}

.container {
  width: 100%;
  text-align: center;
  margin: 20px;

}