* {
  text-decoration: none;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

.temp {
  border: solid red 2px;
}

.home-header {
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  margin: 0;
  position: fixed;
  padding: 0;
  background-color: white;
  opacity: .90;
}

.header-holder {
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  margin: 0;
  position: relative;
  padding: 0;
  z-index: -1;

}

li.home-header-links {
  text-decoration: none;
  color: gray;
  padding: 0 10px;
  display: inline-block;
  list-style-image: none;
  margin: 0;
}

ul.home-header-ul {
  position: relative;
  display: block;
  margin: auto;
  margin-top: 1em;
  width: 90%;
  text-align: center;
}

footer.home-footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
  margin: 15px 0 0 0;
  background-color: #333333;
}

section.feature {
  background-color: white;
  height: 1%;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  clear: both;
  border-bottom: 10px solid #CCCCCC;
}

.two {
  width: 26em;
  display: inline-block;
  max-height: 26em;
  margin: 3em 1em;
  vertical-align: top;
  text-align: center;
  line-height: 23em;
}

.two-image {
  max-width: 26em;
  max-height: 26em;
  border: 8px #CCCCCC solid;
}

.text-holder {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.lrg-text {
 font-size: 2.5em;
}

.med-text {
  font-size: 2em;
}

.sm-text {
  font-size: 1em;
}

a:active, a:link, a:visited {
  font-color: black;
}

a:hover {
  font-color: gray;
}

img.fixed-down {
  position: fixed;
  bottom: 0;
  margin: auto;
  height: 70px;
  width: 70px;
  display: inline;
  opacity: .5;
}

div.fixed-down {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: blue;
  z-index: 100;
  text-align: center;
  padding: 0;
}


.social-logos {
  height: 40px;
  width: 40px;
}


/*************************
Media queries
**************************/